.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
